
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
  
}



.main_div {
  width: 412px;
  height: 416px;
  margin-left: 42%;
  margin-top: 430px;
  border-radius: 20px;
  background-color:#232A34 ;
  position: absolute;

}
.buttons{
 display: grid;
 grid-template-columns: auto auto auto auto auto; 
 padding-left: 30px;
 padding-top: 25px;
}

.numbers{
  width: 51px; 
  height: 51px;
  border-radius: 100%;
  background-color: #262E38;
  border-style: none;
  cursor: pointer;
  
 
}
.icon{
  width: 20px;
  height: 20px;
}

 .star-img{
  width: 48px; 
  height: 48px;
  background-color:  #262E38;
  border-radius: 100%;
  padding: 14px;
  margin-top:40px;
  margin-left: 30px;
 

 

 }
 .intro{
  color:#FFFFFF;
font-family: Overpass;
font-size: 28px;
font-weight: 700;
line-height: 35.45px;
text-align: left;
padding-top: 40px;
padding-left: 30px;

 }
 .main-text{
color: #969FAD;
font-family: Overpass;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
padding-top: 20px;
padding-left: 30px;

 }
 .buttons-numbers{
  color: #FFFFFF;
 }
 .body{
  height: 1458px;
  background-color: black;
 }
 .submit-button{
  width: 341px;
  height: 45px;
  border-radius: 15px;
  margin-left: 38px;
  margin-top: 20px;
  border-style: none;
  background-color: #FFFFFF;
 }
 .submit-text{
font-family: Overpass;
font-size: 15px;
font-weight: 600;
line-height: 18.99px;
letter-spacing: 2px;
text-align: center;
color: #FC7614;

 }